header {
    height: 75px;
    
}
.head-left {
    float: left;

}
.head-right {
    float: right;
}
main {

}
.main-title {

}
.main-subscribe {

}
.main-content {

}
.maincontent>p {

}
footer {

}
.foot-links {

}