body{
    margin: 0px;
    padding: 0px;
}
.section1 {
    background-image: url(img/atl.png);
    height: 600px;
    background-size: cover;
}
.sectionContainer {
    width: 960px;
    margin: 0 auto;
}
.menuBar {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menuBar a {
    color: #ffffff;
    font-family: arial;
    text-decoration: none;
    padding-left : 20px;
}
.tag {
    text-align : center;
    padding : 60px;
    font-family : arial;
    margin-top : 30px;
}
.tag img {
    width: 200px;
}
.tag h1 {
    color: #ffffff;
    font-weight : slim;
    font-size : 55px;
    margin-bottom : 15px;
}
.tag h4 {
    color: #AAAAAA;
    font-weight : slim;
    font-size : 20px;
    margin-top : 0;
}
.downArrow {
    text-align : center;
    padding-top : 90px;
}